<IfModule mod_rewrite.c>
    RewriteEngine On

    # if the file is not accessible, then use Rewrite Rule ...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?page=$1
</IfModule>